<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Main</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nisi quod ratione temporibus! Assumenda dolorem dolores et fugiat, inventore labore nesciunt omnis optio quod saepe soluta veniam voluptate voluptatum. Aspernatur?</p>
    <a href="/about">aboob</a>
</body>
</html>