<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>user</h1>
<p>PAge: <%= username %></p>

<% if(username=='aboba'){ %>
    <ul>
        <%
        hobbies.forEach((el)=>{%>
            <li><%= el %></li>
            %><%})%>
    </ul>
<%}%>
<a href="/">main</a>
</body>
</html>